.to-do{
    width: 100%;
    margin: 5px ;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding:5px;
}
.todo-info{
    max-width: 30vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    

}
.todo-buttons{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}
#para{
    max-width: 100%;
    overflow-wrap: break-word;
}
.complete-button{
    background-color: aqua;
}
#edit-box{
    position: absolute;
    top: 75px;
    left: 300px;
    background-color: rgb(25, 21, 21);
    width: 55vw;
    height: fit-content;
    padding: 25px;
    border-radius: 10px;
}
.hide{
    display: none;
}
